<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.token.home.title">Tokens</span>
<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-token" [routerLink]="['/token/new']">-->
<!--            <fa-icon [icon]="'plus'"></fa-icon>-->
<!--            <span  jhiTranslate="jhipsterApp.token.home.createLabel">-->
<!--            Create a new Token-->
<!--            </span>-->
<!--        </button>-->
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tokens?.length === 0">
        <span jhiTranslate="jhipsterApp.token.home.notFound">No tokens found</span>
    </div>
    <div class="table-responsive" *ngIf="tokens?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="walletId"><span jhiTranslate="jhipsterApp.token.walletId">Wallet Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tpan"><span jhiTranslate="jhipsterApp.token.tpan">Tpan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="hashKey"><span jhiTranslate="jhipsterApp.token.hashKey">Hash Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tokenExpiry"><span jhiTranslate="jhipsterApp.token.tokenExpiry">Token Expiry</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tokenStatus"><span jhiTranslate="jhipsterApp.token.tokenStatus">Token Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="maskPan"><span jhiTranslate="jhipsterApp.token.maskPan">Mask Pan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="enPan"><span jhiTranslate="jhipsterApp.token.enPan">En Pan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="expiryDate"><span jhiTranslate="jhipsterApp.token.expiryDate">Expiry Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="version"><span jhiTranslate="jhipsterApp.token.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let token of tokens ;trackBy: trackId">
                <td><a [routerLink]="['/token', token.id, 'view' ]">{{token.id}}</a></td>
                <td>{{token.walletId}}</td>
                <td>{{token.tpan}}</td>
                <td>{{token.hashKey}}</td>
                <td>{{token.tokenExpiry}}</td>
                <td>{{token.tokenStatus}}</td>
                <td>{{token.maskPan}}</td>
                <td>{{token.enPan}}</td>
                <td>{{token.expiryDate}}</td>
                <td>{{token.version}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/token', token.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/token', token.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(token)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tokens?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
