<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span jhiTranslate="jhipsterApp.profile.detail.title">Profile</span> {{'ID : ' + profile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.profile.role">Role</span></dt>
                <dd>
                    <span>{{profile.role}}</span>
                </dd>
<!--                <dt><span jhiTranslate="jhipsterApp.profile.permission">Permission</span></dt>-->
<!--                <dd>-->
<!--                    <span *ngFor="let permission of profile.permissions; let last = last">-->
<!--                        <a [routerLink]="['/permission', permission?.id, 'view' ]">{{permission.name}}</a>{{last ? '' : ', '}}-->
<!--                    </span>-->
<!--                </dd>-->
                <dt><span jhiTranslate="jhipsterApp.profile.permission">Permission</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let permission of profile.permissions">
                            <span class="badge badge-info">{{permission.name}}</span>
                        </li>
                    </ul>
                </dd>


            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
