<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-profile-heading" jhiTranslate="jhipsterApp.profile.home.createOrEditLabel">Create or edit a Profile</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.profile.role" for="field_role">Role</label>
                    <input type="text" class="form-control" name="role" id="field_role"
                           formControlName="role"/>
                </div>

<!--                <div>-->
<!--                    <h5>Permission</h5>-->
<!--                    <div *ngFor="let group of optionList" style="margin-top: 10px; margin-bottom: 10px">-->
<!--                        <h4>{{group.name}}</h4>-->
<!--                        <div *ngFor=" let permitOption of group.permit; let i = index">-->
<!--                            <mat-radio-group >-->
<!--                                {{permitOption.name | slice: 5}}-->
<!--                                <mat-radio-button style="margin-left: 50px;" (change)="onCheckboxAllow($event)" [checked]="getChecked(editForm.get('permissions')!.value, permitOption)" [value]="permitOption.name">Allow</mat-radio-button>-->
<!--                                <mat-radio-button style="margin-left: 50px;" (change)="onCheckboxDeny($event)" [checked]="!(getChecked(editForm.get('permissions')!.value, permitOption))" [value]="permitOption.id">Deny</mat-radio-button>-->
<!--                                -->
<!--                            </mat-radio-group>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div *ngFor="let permitOption of permitList; let i = index">-->
<!--                    <label>-->
<!--                        <input type="checkbox" [checked]="getChecked(editForm.get('permissions')!.value, permitOption)" [value]="permitOption.name" (change)="onCheckboxChange($event)" />-->
<!--                        {{permitOption.name}}-->
<!--                    </label>-->
<!--                </div>-->


                <div>
                    <h3>Permission</h3>
                    <div *ngFor="let group of optionList" style="margin-top: 20px; margin-bottom: 20px">
                        <h4>{{group.name}}</h4>
                        <div style="margin-right: 90px;" class="custom-control custom-checkbox">
                            <span *ngFor=" let permitOption of group.permit; let i = index">
                                <span *ngIf="!(permitOption.name === 'ROLE_USER'); else elseBlock">
                                    <input   type="checkbox" class="custom-control-input" [id]="permitOption.name+i" [checked]="getChecked(editForm.get('permissions')!.value, permitOption)" [value]="permitOption.name" (change)="onCheckboxChange($event)" />
                                    <label class="custom-control-label" [for]="permitOption.name+i" style="margin-right: 110px;">{{filterWord(permitOption.name)}}</label>
                                </span>
                                <ng-template #elseBlock>
                                    <span>
                                        <input disabled type="checkbox" class="custom-control-input" [id]="permitOption.name+i" [checked]="getChecked(editForm.get('permissions')!.value, permitOption)" [value]="permitOption.name" (change)="onCheckboxChange($event)" />
                                        <label class="custom-control-label" [for]="permitOption.name+i" style="margin-right: 110px;">{{filterWord(permitOption.name)}}</label>
                                    </span>
                                </ng-template>
                            </span>
<!--                        <mat-radio-group>-->
<!--                           <mat-radio-button *ngFor=" let permitOption of group.permit; let i = index" style="margin-left: 50px;" (change)="onCheckboxAllow($event)" [checked]="getChecked(editForm.get('permissions')!.value, permitOption)" [value]="permitOption.name">ADD</mat-radio-button>-->
<!--                        </mat-radio-group>-->
                        </div>
                    </div>
                </div>

                <br>

            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>

        </form>
    </div>
</div>
