<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-api-key-heading" jhiTranslate="jhipsterApp.apiKey.home.createOrEditLabel">Create or edit a Api Key</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.apiKey.requestorType" for="field_requestorType">Requestor Type</label>
                    <input type="text" class="form-control" name="requestorType" id="field_requestorType"
                           formControlName="requestorType"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.apiKey.requestorId" for="field_requestorId">Requestor Id</label>
                    <input type="text" class="form-control" name="requestorId" id="field_requestorId"
                           formControlName="requestorId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.apiKey.apiKey" for="field_apiKey">Api Key</label>
                    <input type="text" class="form-control" name="apiKey" id="field_apiKey"
                           formControlName="apiKey"/>
                </div>



<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="jhipsterApp.apiKey.apiStatus" for="field_apiStatus">Api Status</label>-->
<!--                    <input type="text" class="form-control" name="apiStatus" id="field_apiStatus"-->
<!--                           formControlName="apiStatus"/>-->
<!--                </div>-->

                <!-- ANGULAR MATERIAL -->

                <mat-label>API Status : {{selectedStatus}}</mat-label>
                <mat-select class="border-bottom" style="margin-top: 20px; margin-bottom: 20px; border-color: gray" [(value)]="selectedStatus" formControlName="apiStatus">
                    <mat-option value="Activate">Activate</mat-option>
                    <mat-option value="Suspend">Suspend</mat-option>
                    <mat-option value="Delete">Delete</mat-option>
                </mat-select>


                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.apiKey.modifiedDate" for="field_modifiedDate">Modified Date</label>
                    <div class="d-flex">
                        <input id="field_modifiedDate" type="datetime-local" class="form-control" name="modifiedDate" formControlName="modifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.apiKey.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
